/*
.resources-sidebar {
  &__body {
    padding: 1rem;
    background-color: white;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    min-height: 90vh;
    width: 17rem;
    position: fixed;
    bottom: 0;
    z-index: 900;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 2rem;
  }

  &__item {
    margin-bottom: 1rem;
  }

  &__link {
    text-decoration: none;
    color: var(--color-text);
    font-weight: bold;
    &:hover {
      color: var(--color-text-red);
    }
  }
}
*/

html,
body {
  height: 100vh;
}

.sidebar {
  width: 260px;
  flex-shrink: 0;
  background-color: rgba(22, 22, 22, 1);
  height: 100%;
  overflow: auto;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.sidebar-item {
  padding: 0.75em 1em;
  display: block;
  transition: background-color 0.15s;
  border-radius: 5px;
}
.sidebar-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-title {
  display: flex;
  font-size: 1.2em;
  justify-content: space-between;
}
.sidebar-title span i {
  display: inline-block;
  width: 1.5em;
}

.sidebar-content {
  padding-top: 0.25em;
  height: 0;
  overflow: hidden;
}
.sidebar-item.open > .sidebar-content {
  height: auto;
}

.sidebar-item.plain {
  color: #fff;
  text-decoration: none;
}
.sidebar-item.plain:hover {
  text-decoration: underline;
}
.sidebar-item.plain i {
  display: inline-block;
  width: 1.7em;
}
