.sidebar {
  position: fixed;
  width: 260px;
  flex-shrink: 0;
  background-color: #fafafa;
  height: 100vh;
  overflow: auto;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  padding-right: 0rem;
}

.sidebar-item {
  padding: 0.75em 0rem;
  padding-left: 0.7rem;
  display: block;
  transition: background-color 0.15s;
  border-radius: 5px;

  i {
    padding-right: 0.5rem;
  }
}
.sidebar-item:hover {
  background-color: rgba(169, 169, 169, 0.1);
}

.sidebar-title {
  display: flex;
  font-size: 1rem;
  justify-content: space-between;

  button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
}
.sidebar-title span i {
  display: inline-block;
  width: 1.5em;
}

.sidebar-content {
  padding-top: 0.25em;
  height: 0;
  overflow: hidden;
}

.sidebar-item.open > .sidebar-content {
  height: auto;
}

.sidebar-item.plain {
  color: #000000;
  text-decoration: none;
}
.sidebar-item.plain i {
  display: inline-block;
  width: 1.7em;
}
