---
import "./Sidebar.style.scss";
---

<div class="resources-sidebar">
  <div class="resources-sidebar__body">
    <ul class="resources-sidebar__list">
      <li class="resources-sidebar__item">
        <a href="#" class="resources-sidebar__link">Link 1</a>
      </li>
      <li class="resources-sidebar__item">
        <a href="#" class="resources-sidebar__link">Link 2</a>
      </li>
      <li class="resources-sidebar__item">
        <a href="#" class="resources-sidebar__link">Link 3</a>
      </li>
    </ul>
  </div>
</div>
