---
import { PageLogo } from "../PageLogo";
import "./Navbar.style.scss";
---

<div class="navbar">
  <a href="/">
    <PageLogo text="Resources" />
  </a>
  <div class="navbar__items">
    <!-- <div>About</div> -->
    <!-- <div>
      <a href="/topics">Topics</a>
    </div> -->
    <div>
      <a href="https://github.com/CarletonComputerScienceSociety/resources"
        >Contribute</a
      >
    </div>
  </div>
</div>
