.header-search-bar {
  background-color: white;
  border-radius: 0.3rem;
  padding: 0.5rem;
  padding-right: 1rem;
  width: 25rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  border: 1px solid rgb(205, 205, 205);

  i {
    color: rgb(160, 160, 160);
  }

  i:hover {
    color: rgb(255, 72, 72);
  }

  input {
    border: none;
    font-size: 1.1rem;
    width: 100%;
  }

  input::placeholder {
    opacity: 0.5;
  }

  input:focus {
    outline: none;
  }
}

.header-search-results {
  position: fixed;

  ul {
    display: flex;
    flex-direction: column;
  }
}
