body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  font-size: 1rem;
  font-family: "Source Sans Pro", sans-serif;
}

:root {
  --color-text: #000000;
  --color-text-light: #666666;
  --color-text-red: #c40729;
}
