---
import { Icon } from "astro-icon";
import "./Orbit.style.scss";
---

<div class="orbit">
  <ul class="orbit-wrap">
    <li class="orbit-center"></li>

    <li>
      <ul class="ring-0">
        <li class="o-icon academics">
          <i class="orbit-icon m-icon fa fa-graduation-cap"></i>
        </li>
        <li class="o-icon careers">
          <i class="orbit-icon m-icon fa fa-briefcase"></i>
        </li>
        <li class="o-icon student-life">
          <i class="orbit-icon m-icon fa fa-home"></i>
        </li>
        <li class="o-icon courses">
          <i class="orbit-icon m-icon fa fa-book"></i>
        </li>
      </ul>
    </li>

    <li>
      <ul class="ring-1">
        <li class="o-icon self-learning">
          <i class="orbit-icon m-icon fa fa-seedling"></i>
        </li>
        <li class="o-icon faqs">
          <i class="orbit-icon m-icon fa fa-lightbulb"></i>
        </li>
        <li class="o-icon tbd"><i class="orbit-icon m-icon fa fa-code"></i></li>
      </ul>
    </li>
  </ul>
</div>
