---
import { PageLogo } from "../../core/PageLogo";
import { Search } from "./Search";
import "./Navbar.style.scss";
const { searchList } = Astro.props;
---

<div class="resources-navbar">
  <div class="resources-navbar__container">
    <a href="/resources">
      <PageLogo text="Resources" />
    </a>
    <div class="resources-navbar__center"></div>
    <div class="resources-navbar__right">
      <div class="resources-navbar__menu">
        <Search client:load searchList={searchList} />
      </div>
      <!--<input type="text" placeholder="Search" />-->
    </div>
  </div>
</div>
