---
import "./Navbar.style.scss";
---

<div class="resources-navbar">
  <div class="resources-navbar__container">
    <div class="resources-navbar__logo">
      <a href="/">
        <img src="/images/ccss-logo-2022.png" alt="logo" />
      </a>
    </div>
    <div class="resources-navbar__menu">
      <!-- TODO: render nav elements from content data -->
      <!-- <ul>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/events">Events</a>
        </li>
        <li>
          <a href="/resources">Resources</a>
        </li>
      </ul> -->
    </div>
    <div class="resources-navbar__search">
      <!-- TODO: add search -->
      <!--<input type="text" placeholder="Search" />-->
    </div>
  </div>
</div>
