---
import { Search } from "../../islands";
import "./Navbar.style.scss";
const { searchList } = Astro.props;
---

<div class="resources-navbar">
  <div class="resources-navbar__container">
    <div class="resources-navbar__logo">
      <a href="/">
        <img src="/images/ccss-logo-2022.png" alt="logo" />
      </a>
    </div>
    <div class="resources-navbar__center"></div>
    <div class="resources-navbar__right">
      <div class="resources-navbar__menu">
        <Search client:load searchList={searchList} />
      </div>
      <!--<input type="text" placeholder="Search" />-->
    </div>
  </div>
</div>
