.resources-navbar {
  position: fixed;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid rgb(246, 246, 246);

  a {
    text-decoration: none !important;
    color: black !important;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 0.75rem;
    background-color: white;
    width: 100vw;
  }

  &__menu {
    ul {
      display: flex;
      list-style: none;
      li {
        margin: 0 1rem;
        a {
          text-decoration: none;
          color: black;
          font-style: bold;
          &:hover {
            color: var(--color-text-red);
          }
        }
      }
    }
  }

  &__center {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }

  &__right {
    margin-right: 2rem;
  }
}
