---
import { getCollection } from "astro:content";
import Base from "../layouts/Base.astro";
import { ContentType, getContentType } from "../utils";
import { Navbar, TopicCard } from "../components/core";
import "./index.style.scss";

export async function getStaticPaths() {
  const allPosts = await Astro.glob("../**/*.md");

  return [
    { params: { tag: "student-life" }, props: { posts: allPosts } },
    { params: { tag: "academics" }, props: { posts: allPosts } },
    { params: { tag: "careers" }, props: { posts: allPosts } },
    { params: { tag: "self-learning" }, props: { posts: allPosts } },
    { params: { tag: "courses" }, props: { posts: allPosts } },
    { params: { tag: "faqs" }, props: { posts: allPosts } },
  ];
}
const topics = await getCollection("topics");
const { tag } = Astro.params;
const { frontmatter, posts } = Astro.props;
const filteredPosts = posts.filter(
  (post: any) =>
    post.frontmatter.topic === tag || post?.frontmatter?.tags?.includes(tag)
);
const topic = topics.find((topic) => topic.data.tag === tag);

const faqs = filteredPosts.filter(
  (post: any) => getContentType(post?.frontmatter?.topic) === ContentType.FAQ
);
const articles = filteredPosts.filter(
  (post: any) =>
    getContentType(post?.frontmatter?.topic) === ContentType.ARTICLE
);

const display = articles.length > 0 ? articles : faqs;

const metadata = {
  title: frontmatter?.title,
  description: frontmatter?.short_answer,
  url: "",
  image: "/",
};
---

<Base {metadata}>
  <div class="tag-page">
    <div style="margin-top:1.5rem"></div>
    <Navbar />
    <div style="margin-top:7rem"></div>
    <div class="home-page__container">
      <div class="home-page__cards">
        {
          display.map((post: any) => (
            <a href={post.url}>
              <TopicCard
                title={post.frontmatter.title}
                description={post.frontmatter.short_answer}
                icon={"fa fa-lightbulb"}
                colorSet={"yellow-card"}
              />
            </a>
          ))
        }
      </div>
    </div>
  </div>
</Base>
