---
import { getCollection } from "astro:content";
import Base from "../layouts/Base.astro";

const metadata = {
  title: "Events",
  description: "tbd",
  url: "/events",
  image: "/",
};

const eventsPages = await getCollection("events");
---

<Base {metadata}>
  <h1>Events</h1>
  <ul>
    {
      eventsPages.map((p) => (
        <li>
          <a href={p.slug}>{p.data.title}</a>
        </li>
      ))
    }
  </ul>
</Base>
