---
import Base from "../layouts/Base.astro";

// TODO: make this the default metadata inside of Base layout
const metadata = {
  title: "Home",
  description: "coming soon",
  url: "",
  image: "/",
};
---

<Base {metadata}>
  <h1>Hello World</h1>
  <ul>
    <li><a href="/events">Events</a></li>
    <li><a href="/resources">Resources</a></li>
  </ul>
</Base>
