---
import { getCollection } from "astro:content";
import { Footer, PageLogo, TopicCard } from "../components/core";
import { Header } from "../components/resources";
import Base from "../layouts/Base.astro";
import "./resources.style.scss";

const metadata = {
  title: "Resources",
  description: "tbd",
  url: "/resources",
  image: "/",
};

const resourcePages = await getCollection("resources");
---

<Base {metadata}>
  <!-- TODO: remove this demo margin -->
  <div style="margin-top:1.5rem"></div>
  <div class="resources-page__navbar">
    <PageLogo text="Resources" />
    <div class="resources-page__items">
      <!-- <div>About</div> -->
      <div>
        <a href="https://github.com/CarletonComputerScienceSociety/resources"
          >Contribute</a
        >
      </div>
    </div>
  </div>
  <!-- TODO: remove this demo margin -->
  <div style="margin-top:6rem"></div>
  <Header />
  <!-- TODO: remove this demo margin -->
  <div style="margin-top:7rem"></div>
  <div class="resources-page__container">
    <div class="resources-page__cards">
      <a href="/student-life">
        <TopicCard
          title={"Student Life"}
          description={"Section overview goes here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor."}
          icon={"fa fa-home"}
          colorSet={"red-card"}
        />
      </a>
      <a href="/academics">
        <TopicCard
          title={"Academics"}
          description={"Section overview goes here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor."}
          icon={"fa fa-graduation-cap"}
          colorSet={"green-card"}
        />
      </a>
      <a href="/careers">
        <TopicCard
          title={"Careers"}
          description={"Section overview goes here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor."}
          icon={"fa fa-briefcase"}
          colorSet={"blue-card"}
        />
      </a>
      <a href="/self-learning">
        <TopicCard
          title={"Self-Learning"}
          description={"Section overview goes here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor."}
          icon={"fa fa-seedling"}
          colorSet={"orange-card"}
        />
      </a>
      <a href="/courses">
        <TopicCard
          title={"Courses"}
          description={"Section overview goes here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor."}
          icon={"fa fa-book"}
          colorSet={"purple-card"}
        />
      </a>
      <a href="/faqs">
        <TopicCard
          title={"FAQs"}
          description={"Section overview goes here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor."}
          icon={"fa fa-lightbulb"}
          colorSet={"yellow-card"}
        />
      </a>
    </div>
  </div>
  <!-- TODO: remove this demo margin -->
  <div style="margin-top:8rem"></div>
  <Footer />
</Base>
