.resources-page {
  &__heading {
    width: 100vw;
    height: 15rem;
    background-color: #f92f39;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__heading-title {
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
  }

  &__container {
    display: flex;
    height: 60vh;
  }

  &__cards {
    margin: auto;
    margin-top: 4rem;
    width: 1300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
  }
}
