.resources-page {
  &__container {
    display: flex;
  }

  &__navbar {
    width: 75rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

  &__items {
    display: flex;
    align-items: center;
    gap: 3rem;
  }

  &__cards {
    margin: auto;
    // margin-top: 4rem;
    // width: 1300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3rem;
    width: 75rem;

    a {
      text-decoration: none;
      color: black;
    }
  }
}
