.resources-page {
  &__container {
    display: flex;
  }

  &__cards {
    margin: auto;
    // margin-top: 4rem;
    // width: 1300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2.5rem;
    width: 75rem;
  }
}
