---
import { Footer, Navbar, TopicCard } from "../components/core";
import Base from "../layouts/Base.astro";
import "./index.style.scss";

const metadata = {
  title: "Topics",
  description: "tbd",
  url: "/topics",
  image: "/",
};
---

<Base {metadata}>
  <div class="home-page">
    <!-- TODO: remove this demo margin -->
    <div style="margin-top:1.5rem"></div>
    <Navbar />
    <div style="margin-top:7rem"></div>
    <div class="home-page__container">
      <div class="home-page__cards">
        <a href="/student-life">
          <TopicCard
            title={"Student Life"}
            description={"Learn more by clicking this article 游때."}
            icon={"fa fa-home"}
            colorSet={"red-card"}
          />
        </a>
        <a href="/academics">
          <TopicCard
            title={"Academics"}
            description={"Learn more by clicking this article 游때."}
            icon={"fa fa-graduation-cap"}
            colorSet={"green-card"}
          />
        </a>
        <a href="/careers">
          <TopicCard
            title={"Careers"}
            description={"Learn more by clicking this article 游때."}
            icon={"fa fa-briefcase"}
            colorSet={"blue-card"}
          />
        </a>
        <a href="/self-learning">
          <TopicCard
            title={"Self-Learning"}
            description={"Learn more by clicking this article 游때."}
            icon={"fa fa-seedling"}
            colorSet={"orange-card"}
          />
        </a>
        <a href="/courses">
          <TopicCard
            title={"Courses"}
            description={"Learn more by clicking this article 游때."}
            icon={"fa fa-book"}
            colorSet={"purple-card"}
          />
        </a>
        <a href="/faqs">
          <TopicCard
            title={"FAQs"}
            description={"Learn more by clicking this article 游때."}
            icon={"fa fa-lightbulb"}
            colorSet={"yellow-card"}
          />
        </a>
      </div>
    </div>
  </div>
  <!-- TODO: remove this demo margin -->
  <div style="margin-top:8rem"></div>
  <Footer />
</Base>
