---
import Metadata from "../components/layouts/Metadata.astro";
import { Footer } from "../components/core";
import "../styles/index.scss";

const { metadata } = Astro.props;
---

<html lang="en">
  <head>
    <Metadata
      title={metadata.title}
      description={metadata.description}
      url={metadata.url}
      image={metadata.image}
    />
    <!-- HACK: added font-awesome CDN so islands can use icons -->
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
      integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"
      crossorigin="anonymous"></script>
    <script
      src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"
    ></script>
  </head>
  <body>
    <slot />
    <Footer />
  </body>
</html>
