---
import Metadata from "../components/layouts/Metadata.astro";
import { Footer } from "../components/core";
import "../styles/index.scss";

const { metadata } = Astro.props;
---

<html lang="en">
  <head>
    <Metadata
      title={metadata.title}
      description={metadata.description}
      url={metadata.url}
      image={metadata.image}
    />
  </head>
  <body>
    <slot />
    <Footer />
  </body>
</html>
