---
import Metadata from "../components/layouts/Metadata.astro";
import { Footer } from "../components/core";
import "../styles/index.scss";

const { metadata } = Astro.props;
---

<html lang="en">
  <head>
    <Metadata
      title={metadata.title}
      description={metadata.description}
      url={metadata.url}
      image={metadata.image}
    />
    <!-- HACK: added font-awesome CDN so islands can use icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script
      src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"
    ></script>
  </head>
  <body>
    <slot />
    <Footer />
  </body>
</html>
