.resources-layout {
  width: 50%;
  margin: auto;

  .navbar {
    padding: 0;
  }

  @media only screen and (max-width: 1600px) {
    width: 60%;
  }

  @media only screen and (max-width: 1200px) {
    width: 70%;
  }

  @media only screen and (max-width: 1000px) {
    width: 80%;
  }

  @media only screen and (max-width: 800px) {
    padding: 2rem;
    width: 90%;
    box-shadow: none;
  }

  @media only screen and (max-width: 400px) {
    padding: 1rem;
  }

  &__title {
    font-size: 2.7rem;
    font-weight: bold;
    margin-top: 2rem !important;
    margin-bottom: 1.3rem !important;
  }

  &__updated {
    font-size: 0.9rem;
    font-style: italic;
    margin-bottom: 2rem;
    color: rgb(153, 153, 153);
  }

  &__location {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 3rem;
  }

  &__slug {
    font-size: 1rem;
  }

  &__sources {
    margin-top: 4rem;
    font-size: 0.85rem;
    a {
      color: black !important;
      text-decoration: none;
    }
  }
}

.resources-layout__container {
  display: flex;
  min-height: fit-content;
  color: rgb(42, 42, 42);
  margin-top: 1rem;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 3rem;
    color: black;
  }
}

.resources-layout__content {
  flex: 1;
  padding-top: 0rem;
  flex-direction: column;
  min-height: fit-content;
  font-size: 1.15rem;
  margin-bottom: 6rem;
}

.a-red-card {
  a {
    color: rgb(255, 72, 72);
  }
}

.a-yellow-card {
  a {
    color: #fdc11a;
  }
}

.a-blue-card {
  a {
    color: #42c4fc;
  }
}

.a-green-card {
  a {
    color: #00c29f;
  }
}

.a-orange-card {
  a {
    color: #ff8c00;
  }
}

.a-purple-card {
  a {
    color: #a64dff;
  }
}
