---
import Base from "../layouts/Base.astro";
import { Navbar, Sidebar } from "../components/resources";
import "./Resource.style.scss";
import { getCollection } from "astro:content";

const { frontmatter } = Astro.props;
const metadata = {
  title: frontmatter.title,
  description: "coming soon",
  url: "",
  image: "/",
};

const resourcePages = await getCollection("resources");
---

<Base {metadata}>
  <Navbar searchList={resourcePages} />
  <div class="resources-layout__container">
    <Sidebar client:load />
    <div class="resources-layout__content">
      <slot />
    </div>
  </div>
</Base>
