.resources-layout__container {
  display: flex;
  min-height: 100%;
  margin-top: 5.1rem;
}

.resources-layout__content {
  flex: 1;
  padding: 1rem;
  padding-top: 0rem;
  flex-direction: column;
  margin-left: 22rem;
  margin-right: 7rem;
  min-height: 100vh;
}
