.topic-card {
  background-color: white;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 0.625rem;
  margin-bottom: 1rem;
  width: 20rem;

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  &__description {
    margin: 0;
    font-size: 1rem;
    color: #a9a9a9;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
  }
}
